@import "./../../../assets/styles/main.scss";

.containerSlider {
  padding: rem(0 0 0 28);
  display: flex;
  flex-direction: column;
  gap: rem(32);

  width: 100%;
}

.mySwiper {
  margin: rem(28);
  margin: 0;
}

