@import "../../assets/styles/main.scss";
.searchStoryTitle {
  margin-bottom: rem(30);
  font-size: rem(16);
  line-height: rem(44);
  letter-spacing: rem(0.6);
  text-transform: capitalize;
  color: getColorHex("green-dark");
  margin-top: rem(0);
}
.storiesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  :global(.customStoryCardStyle) {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    height: auto;
    text-align: center;
    align-items: center;
    img {
      @include md {
        width: rem(407);
        height: rem(407);
      }
    }
    .content {
      align-items: center !important;
    }
  }
  .storyCards {
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    text-align: center !important;

    .buttonContainer {
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: rem(12);
    }
  }

  .storyCardStyles {
    flex: 1 1 100%;
    margin-bottom: rem(20);
    @include md {
      flex: 0 1 calc(33.33% - 20px);
      box-sizing: border-box;
      margin-bottom: rem(20);
    }
  }
}
