@import "../../assets/styles/main.scss";

.storiesContainer h2 {
  margin-bottom: rem(20);
}

.storiesContainer {
  margin: rem(20);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchStoryTitle {
  margin-bottom: rem(30);
  font-size: rem(16);
  line-height: rem(44);
  letter-spacing: rem(0.6);
  text-transform: capitalize;
  color: getColorHex("green-dark");
  margin-top: rem(0);
}

.storyCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(20);
  max-width: rem(1200);
}

.storiesContainer {
  .storyCards {
    .storyCardStyles {
      flex: 0 1 calc(33.33% - 20px);
      box-sizing: border-box;
      .storyCardContainer {
        display: flex;
        gap: rem(20);
        cursor: pointer;

        width: 100%;
        height: 100%;

        @include md {
          height: rem(109);
        }

        flex-direction: column;
        @include sm {
          flex-direction: column !important;
        }

        .imgContainer {
          position: relative;
          width: rem(407);
          height: rem(407);
        }

        .image {
          border-radius: rem(16 0 16 0);
          object-fit: cover;
          @include sm {
            width: rem(160);
            height: rem(109);
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          gap: rem(12);

          width: 100%;

          @include sm {
            width: rem(220);
          }

          .title {
            @include heading_light;

            font-size: rem(14);
            line-height: rem(20);
            letter-spacing: rem(0.4);
            margin: rem(0);

            @include ellipses;

            @include md {
              font-size: rem(16);
            }
          }

          .subtitle {
            @include body_light;
            color: getColorHex("green-dark");
            font-size: rem(12);
            line-height: rem(22);
            @include ellipses;

            @include md {
              font-size: rem(14);
            }
          }
        }
      }
    }
  }
}

.storiesContainer{

:global(.customStoryCardStyle) {
  display: flex;
  flex-direction: column; // Ensure column direction
  width: 100%;
  cursor: pointer;

  .imgContainer {
    width: rem(407);
    height: rem(407); 
    
  }

  .image {
    border-radius: rem(16 16 0 0);
    object-fit: cover;
    width: 100%;
  }

  .content {
    margin-top: rem(10); 
    
    display: block; 
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

.buttonContainer {
  position: relative;
  margin-top: rem(120);
}

}