@import "./../../../../assets/styles/main.scss";

.searchContainer {
  // display: flex;
  // align-items: center;
  // border: 1px solid #d1d1d1;
  // border-radius: 8px;
  // padding: 8px 12px;
  // background-color: #fff;
  // width: 100%;
  // max-width: 500px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: rem(154);
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  width: 780px;
  height: 76px;
  padding: 0px 28px;
  align-items: center;
  gap: 20px;

  border-radius: 16px 0px;
  border: 1px solid var(--GreyShades-Lighter-Grey, #e9e8e3);
  background: var(--Primary-White, #fff);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.textContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  @include breakpoint-min-width(rem(930)) {
    min-width: rem(800);
  }
}

.searchContainer {
  // position: absolute;
  // bottom: rem(154);
  // z-index: 9999;
  // left: 50%;
  // transform: translateX(-50%);

  display: flex;
  width: 100%;
  height: rem(60);
  padding: 0px 28px;
  align-items: center;
  gap: 20px;

  border-radius: 16px 0px;
  border: 1px solid var(--GreyShades-Lighter-Grey, #e9e8e3);
  background: var(--Primary-White, #fff);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);

  @include breakpoint-min-width(rem(930)) {
    height: 76px;
    width: rem(800);
  }
}

.input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  color: #333;
  padding: 0;
  margin-right: 8px;
}

.input::placeholder {
  color: var(--Primary-Midnight-Brown, #271610);

  /* Desktop/Headings/H5 */
  @include heading_regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.6px;
}

// .input {
//   border: none;
//   outline: none;
//   flex: 1;
//   font-size: 16px;
//   color: #333;
//   padding: 0;
//   margin-right: 8px;
// }

// .input::placeholder {
//   color: #aaa;
// }

.iconButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  background: url("/path-to-your-icon.png") no-repeat center center;
  background-size: contain;
}

.seddiqiLogo {
  border-radius: 40px;
  background: var(--Tertiary-Desert-Storm, #eee7db);
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
