@import "./../../../assets/styles/main.scss";

.megaMenuContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: rem(156);
  left: 0;
  z-index: 2000;
  width: 100%;
  background-color: getColorHex("white");
  transition: all 0.3s;

  @include breakpoint-max-width(rem(1150)) {
    padding: rem(30 60);
  }

  .columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: rem(60 120);

    @include breakpoint-max-width(rem(1150)) {
      flex-direction: column;
      gap: rem(20);
    }
  }
}

.headerFooter {
  padding: rem(60 120);
}

.imgContainer {
  position: relative;
  width: rem(226);
  height: rem(301);
}
