@import "./../../../../assets/styles/main.scss";

.articleCard {
  width: rem(473);
  height: rem(315);
  background-image: url("/images/png/watchImage_02.png");
  padding: rem(30);
  background-size: cover; /* Ensures the image covers the entire card without stretching */
  background-repeat: no-repeat;
  background-position: center;

  color: getColorHex("white");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top-left-radius: rem(16);
  border-bottom-right-radius: rem(16);

  .articleTitle {
    @include heading_regular;
    font-weight: 500;
    font-size: rem(20);
    line-height: rem(28);
    letter-spacing: rem(0.6);
  }

  .articleBtn {
    width: fit-content;
    display: inline-block;
    border-bottom: rem(1) solid getColorHex("white");
    cursor: pointer;
    line-height: rem(18);
    letter-spacing: rem(1);
    font-size: rem(14);
    font-weight: 400;
  }
}
