@import "./../../../../assets//styles/main.scss";

.menuLink {
  display: flex;
  align-items: center;
  width: rem(217);
  justify-content: space-between;
  margin-bottom: rem(28);
  text-transform: uppercase;
}
