@import "./../../../assets/styles/main.scss";

.container {
  padding: rem(0 28);
  display: flex;
  flex-direction: column;
  gap: rem(32);
  background-color: getColorHex("cream");

  @include md {
    gap: rem(48);
    padding: rem(0 60);
  }
}

.image {
  border-radius: rem(16) rem(0);
  width: 100%;
  height: rem(448);
  object-fit: cover;

  @include md {
    height: rem(660);
  }
}

.metallic {
  background-color: getColorHex("metallic");
}

.bronze-grey {
  background-color: getColorHex("bronze-grey");
}

.green-dark {
  background-color: getColorHex("green-dark");
}

.black {
  background-color: getColorHex("black");
}

.white {
  background-color: getColorHex("white");
}

.grey-light {
  background-color: getColorHex("grey-light");
}

.light-cream {
  background-color: getColorHex("light-cream");
}
.grey-pampas {
  background-color: getColorHex("grey-pampas");
}

.beige {
  background: getColorHex("beige");
}
.cream {
  background-color: getColorHex("cream");
}
