@import "variables";
@import "mixins";
@import "theming";
@import "typography";
@import "animations";
@import "buttons";
@import "inputs";
@import "select";

// container utility
@mixin container-medium-1 {
  max-width: 1320px;
  margin: 0 auto;
}

@mixin container-medium-2 {
  max-width: 1312px;
  margin: 0 auto;
}

@mixin container-medium-3 {
  max-width: 1000px;
  margin: 0 auto;
}

@mixin container-large-1 {
  max-width: 1280px;
  margin: 0 auto;
}

@mixin container-large-2 {
  max-width: 844px;
  margin: 0 auto;
}
