@import "mixins";
@import "typography";
@import "variables";



$sqrt3: 1.2;
$hex-height: 3rem;
$hex-min-width: $hex-height * $sqrt3 / 2;
$hex-distance: (
  $hex-height / (2 * $sqrt3)
);
$border-width: rem(1);

.button {
  @include cta_regular;
  @include transition-3s;
  padding: rem(12 20);
  font-size: rem(14);
  line-height: rem(18);
  letter-spacing: rem(1);
  text-transform: uppercase;
  cursor: pointer;
  background-color: getColorHex("green-palm");
  color: getColorHex("white");
  border: none;
  min-width: rem(174);
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: rem(4);
  
  @include md {
    padding: rem(12 22);
    font-size: rem(16);
    line-height: rem(20);
  }

  &.solid {
    background-color: getColorHex("green");
    color: getColorHex("white");
    border: rem(1) solid getColorHex("green");

    &:hover {
      background-color:  getColorHex("green-palm");
      color: getColorHex("white");
    }

    &.white {
      background-color: getColorHex("white");
      color: getColorHex("green");
      border: rem(1) solid getColorHex("white");

      &:hover {
        background-color: getColorHex("green-tint");
        border: rem(1) solid getColorHex("green-tint");
      }
    }


  }

  &.transparent {
    border: rem(1) solid transparent;
    color: getColorHex("green");
    border-color: getColorHex("green");
    background-color: transparent;

    &:hover {
      color: getColorHex("white");
      background-color: getColorHex("green");
    }


    &.white {
      color: getColorHex("white");
      border-color: getColorHex("white");

      &:hover {
        color: getColorHex("green");
        background-color: getColorHex("white");
      }
    }
  }

  &.plain {
    border: none;
    text-decoration-line: underline;
    padding: 0;
    min-width: auto;
    background-color: transparent;
    border: none;
    span {
      text-decoration-line: underline;
      text-underline-offset: rem(2.3);
      text-decoration: underline;
    }

    &.white {
      span {
        color: getColorHex("white");

        &:hover {
          color: getColorHex("black");
        }
      }
    }

  }

  &:disabled,
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }
}

.svg {
  @include vertical_align_center;
  @include pointer;
  @include svg;
}
