@import "./../../../assets/styles/main.scss";

.container {
  margin: rem(60 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: rem(40);
  [dir="rtl"] & {
    text-align: right;
  }

  @include md {
    margin: rem(120 0);
  }
}

.titleColor {
  color: getColorHex("green-dark");
}

.subTitleColor {
  color: getColorHex("green-dark");
}

.barColor {
  background: getColorHex("metallic");
}

.tabNavigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 rem(28);
  justify-content: center;

  @include md {
    width: rem(800);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: rem(30);
    margin-bottom: rem(20);
  }
}
