@import "./../../../../assets/styles/main.scss";

.otpContainer {
  text-align: center;
  padding: rem(0);
  display: flex;
  flex-direction: column;
  gap: rem(20);
  width: 100%;

  @include md {
    gap: rem(36);
    padding: rem(20);
  }

  h2,
  .title {
    @include heading_regular;
    font-size: rem(24);
    font-weight: 500;

    color: getColorHex("green-dark");
    text-align: center;

    font-size: rem(32);
    font-weight: 500;
    line-height: rem(44);
    letter-spacing: rem(0.6);
    margin: 0;

    @include md {
      margin-bottom: rem(10);
    }
  }

  p {
    color: getColorHex("grey");
    text-align: center;
    font-size: rem(16);
    line-height: rem(26);
    letter-spacing: rem(0.2);
    margin-bottom: rem(20);
  }

  .otpInputs {
    display: flex;
    justify-content: center;
    gap: rem(20);
    margin-bottom: rem(20);

    input {
      width: rem(117);
      height: rem(48);
      font-size: rem(24);
      text-align: center;
      border: none;
      border-bottom: rem(1) solid getColorHex("grey-light");
      outline: none;
      transition: border-color 0.3s ease-in-out;
      width: rem(39.33);
      flex: 1;
      min-width: rem(30);

      @include md {
        width: rem(117);
      }

      &:focus {
        border-color: getColorHex("black");
      }
    }
  }

  .resendSection {
    margin-bottom: rem(20);
    text-align: left;
    color: getColorHex("grey");
    font-size: rem(16);
    line-height: rem(26);
    letter-spacing: rem(0.2);

    .timer {
      color: getColorHex("green-dark");
      font-size: rem(16);
      line-height: rem(26);
      letter-spacing: rem(0.2);
      text-transform: capitalize;

      .optTimer {
        @include heading_regular;
        font-size: rem(14);
        font-weight: 500;
        line-height: rem(18);
        letter-spacing: rem(1);
        text-transform: capitalize;
        cursor: pointer;
        border-bottom: rem(1) solid getColorHex("green-dark");
      }
    }
  }

  .submitBtn {
    transition: background-color 0.3s ease;
  }
}

.signinBtn {
  width: rem(320);
}
