@import './../../../assets/styles/main.scss';

.patakLogo {
    width: rem(78.65);
    height: rem(46);
}

.mainLogo {
    width: rem(120);
    height: rem(24);
}

.rolexLogo {
    width: rem(100.3);
    height: rem(46);
}