@import "./../../../assets/styles/main.scss";

.headerLogoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
  height: rem(46);
  transition: all 0.3s ease;

  .image {
    height: 100%;
  }
}

.headerLogoContainer {
  transition: visibility 0.3s ease;
}
