@import "./../../../../../assets/styles/main.scss";

.displayCard {
  min-width: rem(226);
  display: flex;
  flex-direction: column;
  gap: rem(24);
  .storyImg {
    border-top-left-radius: rem(16);
    border-bottom-right-radius: rem(16);
  }

  .displayCardInfo {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    .title {
      color: getColorHex("green-metallic");
    }

    .subTitle {
      color: getColorHex("green-dark");
    }
  }
}
