@import "../../../assets/styles/main.scss";

.storeLocatorContainer{
  display: flex;
  flex-direction: column;
  row-gap: rem(40);

  @include md{
    row-gap: rem(32);
  }
}

.productInfoContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: rem(16);

  @include md{
    column-gap: rem(20);
  }

  &Image{
    display: flex;
    width: 100%;
    max-width: rem(100);
    position: relative;
    border: rem(1) solid getColorHex("grey-light");

    @include md{
      max-width: rem(120);
    }

    img{
      display: flex;
      width: 100%;
    }
  }

  &Texts{
    display: flex;
    flex-direction: column;
    padding: rem(16) 0 0 0;
    row-gap: rem(8);
    width: 100%;

    @include md{
      padding: rem(20) 0 0 0;
    }

    h6{
      @include heading_medium;
      font-size: rem(12);
      line-height: rem(18);
      font-weight: 500;
      letter-spacing: rem(0.4);
      color: getColorHex("black");
      display: block;
      text-transform: uppercase;
      margin: 0;

      @include md{
        @include heading_regular;
        font-size: rem(16);
        line-height: rem(20);
        font-weight: 400;
      }
    }

    p{
      @include heading_regular;
      font-size: rem(16);
      line-height: rem(26);
      font-weight: 400;
      letter-spacing: rem(0.4);
      color: getColorHex("green-dark");
      display: block;
      margin: 0;

      @include md{
        font-size: rem(18);
        line-height: rem(28);
      }
    }

    span{
      @include body_regular;
      font-size: rem(10);
      line-height: rem(14);
      font-weight: 400;
      letter-spacing: rem(0.4);
      color: getColorHex("black");
      display: block;
      margin: 0;
    }
  }
}

.tabsSwiperContainer {
  width: 100%;
  margin: auto;
}

.tabsSwiper {
  display: flex;
  padding: 0;
  //margin-bottom: rem(20);
  border-bottom: rem(1) solid getColorHex("grey-light");

  @include md {
    //margin-bottom: rem(32);
  }

  /*& > div{
    width: auto;
    align-self: flex-start;
    margin: 0 auto;
  }*/
}

.tabsSwiperSlide{
  width: auto;
  min-width: 33.33%;

  @include md{
    min-width: rem(181);
  }

  &:last-child{
    margin-right: 0 !important;

    [dir="rtl"] & {
      margin-left: 0 !important;
    }
  }

  button{
    @include heading_regular;
    font-size: rem(14);
    line-height: rem(20);
    font-weight: 500;
    letter-spacing: rem(0.4);
    color: getColorHex("brown-grey");
    display: flex;
    justify-content: center;
    width: 100%;
    background: none;
    padding: 0 rem(10) rem(8);
    border: none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
    position: relative;
    box-sizing: border-box;

    &::after{
      content: "";
      background: getColorHex("chocolate-brown");
      width: 100%;
      height: rem(2);
      position: absolute;
      bottom: 0;
      transform-origin: center;
      transition: transform 0.3s ease;
      transform: scaleX(0);
    }

    @include md{
      font-size: rem(16);
      font-weight: 400;
    }

    &.active{
      color: getColorHex("green-dark");
      pointer-events: none;

      &::after{
        transform: scaleX(1);
      }
    }

    &:hover{
      color: getColorHex("green-dark");
      //border-bottom: rem(2) solid rgba(getColorHex("chocolate-brown"), 1);

      &::after{
        transform: scaleX(1);
      }
    }
  }
}

.toggleResultsContainer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: rem(20);

  .storeResult{
    @include body_regular;
    font-weight: 400;
    font-size: rem(12);
    line-height: rem(20);
    letter-spacing: rem(0.2);
    color: getColorHex("grey-mid");

    @include md{
      font-size: rem(14);
      line-height: rem(22);
    }
  }
}

.storeListContainer{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.storeList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: rem(32);
  margin: 0;
  list-style: none;
  padding: 0;

  @include sm{
    row-gap: rem(20);
  }

  .store{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;

    @include sm{
      width: calc(50% - 10px);
    }

    &ImageContainer{
      display: flex;
      position: relative;
      overflow: hidden;
      margin: 0 0 rem(20);
      -webkit-border-top-left-radius: rem(16);
      -webkit-border-bottom-right-radius: rem(16);
      -moz-border-radius-topleft: rem(16);
      -moz-border-radius-bottomright: rem(16);
      border-top-left-radius: rem(16);
      border-bottom-right-radius: rem(16);
      min-height: rem(224);

      @include sm{
        -webkit-border-top-left-radius: rem(30);
        -webkit-border-bottom-right-radius: rem(30);
        -moz-border-radius-topleft: rem(30);
        -moz-border-radius-bottomright: rem(30);
        border-top-left-radius: rem(30);
        border-bottom-right-radius: rem(30);
        min-height: rem(167);
      }
    }

    &Image{
      display: flex;
    }

    .nearestStore{
      @include body_regular;
      font-weight: 400;
      font-size: rem(10);
      line-height: rem(14);
      letter-spacing: rem(0.2);
      color: getColorHex("green-dark");
      text-transform: uppercase;
      display: flex;
      position: absolute;
      left: rem(20);
      top: rem(20);
      background-color: getColorHex("green-greyish");
      padding: rem(6) rem(12);
      margin: 0;
      -webkit-border-top-left-radius: rem(4);
      -webkit-border-bottom-right-radius: rem(4);
      -moz-border-radius-topleft: rem(4);
      -moz-border-radius-bottomright: rem(4);
      border-top-left-radius: rem(4);
      border-bottom-right-radius: rem(4);
    }

    &Details{
      display: flex;
      flex-direction: column;
      row-gap: rem(8);

      @include sm{
        row-gap: rem(12);
      }
    }
    
    &Name{
      @include heading_regular;
      font-weight: 500;
      font-size: rem(18);
      line-height: rem(26);
      letter-spacing: rem(0.4);
      color: getColorHex("green-dark");
      display: block;
      margin: 0;

      @include sm{
        font-size: rem(20);
        line-height: rem(30);
        letter-spacing: rem(0.6);
      }
    }

    &Location{
      display: flex;
      align-items: center;
      gap: rem(3);

      p{
        @include body_light;
        font-weight: 300;
        font-size: rem(14);
        line-height: rem(22);
        letter-spacing: rem(0.2);
        color: getColorHex("green-dark");
        display: flex;
        align-items: center;
        gap: rem(3);

        span{
          display: flex;
          align-items: center;
          gap: rem(3);

          &:last-child{

            &::before{
              content: "|";
            }
          }
        }
      }
    }
  }
}

.storeMapList{
  display: flex;
  flex-direction: column;
  gap: rem(20);
  list-style: none;
  margin: 0;
  padding: 0;

  @include sm{
    gap: rem(32);
  }
}

.storeMap{
  display: flex;
  flex-direction: column;
  row-gap: rem(16);
  transition: all 0.3s ease;

  @include sm{
    row-gap: rem(36);
  }

  &:hover{
    padding: rem(20);
    border: rem(1) solid getColorHex("green-dark");
    -webkit-border-top-rght-radius: rem(16);
    -webkit-border-bottom-left-radius: rem(16);
    -moz-border-radius-topright: rem(16);
    -moz-border-radius-bottomleft: rem(16);
    border-top-right-radius: rem(16);
    border-bottom-left-radius: rem(16);

    @include sm{
      padding: rem(32);
      -webkit-border-top-rght-radius: rem(24);
      -webkit-border-bottom-left-radius: rem(24);
      -moz-border-radius-topright: rem(24);
      -moz-border-radius-bottomleft: rem(24);
      border-top-right-radius: rem(24);
      border-bottom-left-radius: rem(24);
    }
  }

  &Details{
    display: flex;
    flex-direction: column;
    row-gap: rem(8);

    @include sm{
      row-gap: rem(12);
    }
  }

  &Name{
    @include heading_regular;
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(26);
    letter-spacing: rem(0.4);
    color: getColorHex("green-dark");
    display: block;
    margin: 0;

    @include sm{
      font-size: rem(26);
      line-height: rem(36);
      letter-spacing: rem(0.6);
    }
  }

  &Location{
    display: flex;
    align-items: center;
    gap: rem(3);

    p{
      @include body_light;
      font-weight: 300;
      font-size: rem(14);
      line-height: rem(22);
      letter-spacing: rem(0.2);
      color: getColorHex("green-dark");
      display: flex;
      align-items: center;
      gap: rem(3);

      @include sm{
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(26);
      }

      span{
        display: flex;
        align-items: center;
        gap: rem(3);

        &:last-child{

          &::before{
            content: "|";
          }
        }
      }
    }
  }

  &Link{

    [dir="rtl"] & {
      text-align: right;
    }
  }
}

.mapContainer{
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 0 0 rem(20);
  -webkit-border-top-left-radius: rem(16);
  -webkit-border-bottom-right-radius: rem(16);
  -moz-border-radius-topleft: rem(16);
  -moz-border-radius-bottomright: rem(16);
  border-top-left-radius: rem(16);
  border-bottom-right-radius: rem(16);

  @include sm{
    -webkit-border-top-left-radius: rem(30);
    -webkit-border-bottom-right-radius: rem(30);
    -moz-border-radius-topleft: rem(30);
    -moz-border-radius-bottomright: rem(30);
    border-top-left-radius: rem(30);
    border-bottom-right-radius: rem(30);
  }
}

.map{
  display: block;
  width: 100%;
  max-height: rem(224);
  height: rem(500);

  @include md{
    max-height: rem(363);
  }
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
