@import "./../../../../assets/styles/main.scss";

.resetPasswordContainer {
  text-align: center;
  max-width: rem(560);
  margin: 0 auto;
}

.heading {
  @include heading_regular;
  color: getColorHex("green-dark");
  text-align: center;
  font-size: rem(26);
  font-weight: 500;
  line-height: rem(36);
  letter-spacing: rem(0.6);
  margin: 0;
  margin-bottom: rem(20);
}

.description {
  @include body_regular;
  color: getColorHex("grey");
  text-align: center;

  font-size: rem(16);
  font-weight: 400;
  line-height: rem(26);
  letter-spacing: rem(0.2);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: rem(36);
}

.submitButton {
  
}
