@import "../../../../assets/styles/main.scss";

.mainWrapper{
.mapViewBtnLabel,
.contactLabel,
.storeOpenDay,
.storeOpenTiming,
.storeServiceInfo,
.storeBrandsInfo,
.availableBrandsTitle,
.brandsName {
  font-size: rem(12);
  font-weight: 400;
  line-height: rem(20);
  letter-spacing: rem(0.2);
}

.contactLabel,
.storeOpenDay,
.storeServiceInfo,
.brandsName {
  color: getColorHex("grey");
}
.availableBrandsTitle {
  color: getColorHex("grey-mid");
}
.storeOpenTiming {
  color: getColorHex("green-dark");
}


.mapViewBtnLabel,
.availableBrandsTitle {
  text-transform: uppercase;
}

.addressWrapper {
  display: flex;
  align-items: flex-start;
}

.vline {
  height: rem(22);
  border-left: rem(1) solid getColorHex("green-dark");
  margin: 0 rem(5);
}

.storeImg {
  border-radius: rem(16 0 16 0);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.storeContactWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: rem(20);
}

.contactLabelWrapper {
  flex: 0 1 auto;
}

.contactWrapper {
  display: flex;
  align-items: flex-start;
}

.vDivider {
  background-color: getColorHex("grey-light");
  width: rem(1);
  height: rem(16);
  margin: 0 rem(16);
}

.storeTimingWrapper {
  display: flex;
  flex-direction: column;
}

.timingRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: rem(12);
  width: 100%;
}

.serviceList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.serviceList li {
  margin-bottom: rem(8);
}

.brandsWrapper {
  display: flex;
  align-items: flex-start;
  margin-left: rem(32);
  margin-top: rem(12);
  margin-bottom: rem(16);
  flex-wrap: wrap; 
}

.brandSeparator {
  width: rem(1);
  height: rem(20);
  background-color: getColorHex("green-dark");
  margin: 0 rem(4);
}

.divider {
  border-top: rem(1) solid getColorHex("grey-light");
  margin-top: rem(20);
  margin-bottom: rem(32);
}

.mapViewBtnLabel {
  color: getColorHex("grey-mid");
}

.mapViewBtn {
  margin-top: rem(20);
  margin-bottom: rem(12);
}

.mapIcon {
  margin-right: rem(5);
  height: rem(16);
  width: rem(16);
  [dir="rtl"] & {
    margin-left: rem(5);
  }
}

.WhatsappIcon {
  margin-right: rem(12);
  color: getColorHex("green-dark");
  height: rem(20);
  width: rem(20);
  [dir="rtl"] & {
    margin-left: rem(12);
  }
}

.locationInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: getColorHex("grey");
  margin-bottom: rem(12);
  margin-top: rem(12);
}

.leftSection {
  display: flex;
  align-items: flex-start;
}

.iconWrapper {
  margin-right: rem(12);
}

.timeIcon,
.serviceIcon,
.brandsIcon {
  height: rem(20);
  width: rem(20);
}

.timingItems {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.timingDetail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.storeOpenDay {
  margin-right: rem(12);
  [dir="rtl"] & {
    margin-left: rem(12); 
  }
}

.storeOpenTiming {
  text-align: right;
}

.serviceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.storeServiceInfo {
  flex: 1;
}

.appointmentBtn,
.viewAllBrandsBtn,
.getDirectionBtn {
  text-transform: none;
}

.whatsappBtn,
.contactBtn {
  text-transform: capitalize;
}

.storeBrandsInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.iconSection {
  display: flex;
  align-items: flex-start;
  margin-right: rem(12);
  [dir="rtl"] & {
    margin-left: rem(12);
  }
}

.availableBrandsLabel {
  flex: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: rem(20);
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  padding: rem(0) rem(100) rem(60) rem(100);
}

@include md-max {
  .backBtn {
    margin-left: rem(20) !important;
    justify-content: flex-start;
    [dir="rtl"] & {
      margin-right: rem(20) !important;
    }
  }

  .mapViewWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 !important;
    padding: rem(10) rem(20);
    box-sizing: border-box;
  }

  .mapViewBtnLabel {
    margin-right: rem(10);
  }

  .contentWrapper {
    padding: rem(0) rem(20) rem(20) rem(20);
  }

  .imageContainer {
    width: 100%;
    margin-bottom: rem(20);
  }

  .contentWrapper {
    flex-direction: column;
    padding: rem(0) rem(20) rem(20) rem(20);
  }

  .twoColumnLayout {
    flex-direction: column;
  }

  .storeImageWrapper {
    order: 1;
  }

  .infoTwoColumn {
    order: 2;
    margin-right: 0;
    [dir="rtl"] & {
      margin-left: rem(0) !important;
    }
  }

  .locationInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: rem(12);
  }

  .leftSection {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .addressWrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: rem(5);
  }

  .directionBtnWrapper {
    width: 100%;
    text-align: left;
    margin-top: rem(10);
  }
}

.infoTwoColumn {
  flex: 1;
  margin-right: rem(60);
  [dir="rtl"] & {
    margin-left: rem(60);
  }
}

.mapColumn {
  flex: 1;
}

.storeImageWrapper {
  position: relative;
  width: rem(100%);
  margin-bottom: rem(28);
}

.title {
  color: getColorHex("brown-dark");
  letter-spacing: rem(0.6);
  margin-block-end: rem(42);
  margin-block-start: rem(60);
}

.mapViewWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: rem(16);
  margin-right: rem(100);
  [dir="rtl"] & {
    margin-left: rem(100);
  }
}

.backBtn {
  display: flex;
  align-items: center;
  margin-left: rem(60);
  margin-top: rem(20);
  cursor: pointer;
  [dir="rtl"] & {
    margin-right: rem(100);
  }
}

.arrowLeftWrapper {
  margin-right: rem(8);
  display: flex;
  align-items: center;
  [dir="rtl"] & {
    margin-left: rem(8);
  }
}

.arrowLeft {
  transform: rotate(180deg);
  [dir="rtl"] & {
    transform: none;
  }
}

.backButtonContent {
  position: relative;
}

.backButtonText {
  font-size: rem(14);
  font-weight: normal;
  line-height: rem(18);
  letter-spacing: rem(0.6);
  display: inline-block;
  color: getColorHex("green-dark");
}

.underline {
  height: rem(1);
  background-color: getColorHex("green-dark");
  margin-top: rem(2);
  width: 100%;
}

.mainWrapper {
  position: relative;
}

.twoColumnLayout {
  display: flex;
}

.imageContainer {
  flex: 1;
}

.storeImageWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: rem(28);
}

.mapContainer {
  width: 100%;
  height: rem(700);
}

.infoOverlay {
  position: absolute;
  width: rem(580);
  height: rem(400);
  left: rem(40);
  top: 50%;
  transform: translateY(-50%);
  padding: rem(20);
  background: getColorHex("white");
  z-index: 10;
  // overflow: auto;
  border-radius: rem(16) 0 rem(16) 0;
  
}

.mapOuterContainer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.mapContainer {
  flex: 1;
  position: relative;
}

.mainWrapper {
  position: relative;
  margin-top: rem(20);
}

.infoColumn {
  flex: 1;
  margin-right: rem(20);
}

.imageContainer {
  flex: 1;
}

.twoColumnLayout {
  display: flex;
  justify-content: space-between;
}

.fullWidthMap {
  height: 100%;
  width: 100%;
}

@include md-max {
  .mapOuterContainer {
    position: relative;
  }

  .mapContainer {
    height: rem(300);
    margin-bottom: rem(20);

    .infoOverlay {
      position: relative;
      width: 100%;

      margin-top: rem(180);
      left: rem(0) !important;
      border-radius: rem(0) 0 rem(0) 0;
      overflow: auto;
    }
  }
}
}

.storeMapListSwiper{
  position: relative;
  // top:rem(0);
  //overflow: auto;
  border-radius: rem(16);
}

