@import "./../../../assets/styles/main.scss";

// Media and Image Styling
.media {
  height: 100vh;
  max-height: rem(860);
  position: relative;
  overflow: hidden;
}

.heading {
  @include heading_regular;
  color: getColorHex("white");
  text-align: center;
  font-size: rem(48);
  font-weight: 500;
  line-height: rem(54);
  letter-spacing: rem(0.4);
  text-transform: uppercase;
  max-width: rem(500);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 666;
}

.image {
  display: flex;
  object-fit: cover;
  height: 100vh;
  max-height: rem(860);
  width: 100%;
}

.imagesContainer {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.imageContainer {
  position: relative;
  .textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: rem(450);
    width: rem(450);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);
    z-index: 999;

    .title {
      color: getColorHex("white");
      text-align: center;

      @include heading_regular;
      font-size: rem(48);
      font-weight: 500;
      line-height: rem(54);
      letter-spacing: rem(0.4);
      text-transform: uppercase;
      margin: 0;
    }
    .desc {
      color: getColorHex("white");
      text-align: center;

      font-size: rem(16);
      line-height: rem(26);
      letter-spacing: rem(0.2);
      @include body_regular;
    }

    .desc,
    .btnContainer {
      display: none;
    }

    .discoverBtn {
      @include body_regular;
      color: getColorHex("green-dark");
      text-align: center;
      font-size: rem(14);
      line-height: rem(18);
      letter-spacing: rem(1);
      text-transform: uppercase;
      margin-top: rem(12);
    }
  }

  &:hover {
    .textContainer {
      .desc,
      .btnContainer {
        display: block;
      }
    }
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.leftImageContainer,
.rightImageContainer {
  width: 50%;
  opacity: 0; /* Initially hidden */
  transition: all 0.5s;

  &:hover {
    width: 60%;
  }

  /* Apply keyframes animation when triggered */
  &.slideInLeft {
    animation: slideInLeft 0.5s ease-in-out forwards; /* Trigger left slide animation */
  }

  &.slideInRight {
    animation: slideInRight 0.5s ease-in-out forwards; /* Trigger right slide animation */
  }
}

.leftImageContainer {
  /* Initially off-screen */
  transform: translateX(-100%);
}

.rightImageContainer {
  /* Initially off-screen */
  transform: translateX(100%);
}

.leftImage,
.rightImage {
  transform: scale(1) !important;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1) !important;
  }
}
