@import "./../../../assets/styles/main.scss";

.position {
  background-color: getColorHex("white");
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  height: rem(120);
  transition: all 0.3s ease-in-out;
}
