@import "./../../../assets/styles/main.scss";

.container {
  display: flex;
  align-items: center;
  gap: rem(32);
  text-transform: uppercase;
  border-top: rem(1) solid getColorHex("grey-light");
  width: 100%;
  flex-wrap: wrap;
}
