@import "./../../../../assets/styles/main.scss";

.container {
  display: flex;
  // padding: rem(232.5 205);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: getColorHex("white");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  gap: rem(40);
  min-height: rem(1000);
  flex-direction: column;
  overflow-y: scroll;
  padding: rem(60) rem(28);
  
  @include breakpoint-min-width(rem(1250)) {
    padding: 16.2% 14.35%;
    gap: rem(100);
    flex-direction: row;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 0px;
 
  flex: 1;
  min-height: rem(448);
  
  @include breakpoint-min-width(rem(1250)) {
    min-height: rem(535);
    flex-direction: row;
    min-width: rem(400);
    max-width: rem(400);
  }
}

.image2 {
  flex: 1;
  object-fit: cover;
  height: 100% !important;
  width: 100%;
  min-width: rem(400);
  min-height: rem(535);
}

.closeIcon {
  z-index: 99999;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
  @include breakpoint-min-width(rem(1250)) {
    width: auto;
    position: absolute;
    right: rem(80);
    top: rem(80);
  
  }
}

.textContainer {
  flex: 1;
  // min-width: rem(530);
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.title {
  @include heading_regular;
  color: var(--Secondary-Dark-Green, #464f4a);
  margin: 0;

  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px; /* 115% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.description {
  @include body_regular;
  color: var(--Secondary-Dark-Green, #464f4a);

  /* Desktop/BodyCopy/Default */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.2px;
}
