@import "./../../../assets/styles/main.scss";


.loaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .loaderSpinner {
    border: rem(4) solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid getColorHex("green-dark");
    border-radius: 50%;
    width: rem(40);
    height: rem(40);
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  