@import "../../../assets/styles/main.scss";

.drawer {
  position: fixed;
  left: rem(-600);
  top: 0;
  width: 100%;
  height: 100%;
  background: getColorHex("white");
  box-shadow: rem(1) 0 rem(18) rgba(0, 0, 0, 0.09);
  transition: left 0.3s ease-in-out;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  padding: rem(16);

  @include md {
    padding: rem(28);
    width: rem(600);
  }
}

.open {
  left: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: rem(16) 0;
  gap: rem(12);
  button {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: rem(24);
  @include md {
    margin-bottom: rem(32);
  }
}

.sortFilterText {
  @include heading_regular;
  font-size: rem(16);
  @include md {
    font-size: rem(20);
  }
}

.closeButton {
  cursor: pointer;
  svg {
    width: rem(36);
    height: rem(36);
  }
  @include md {
    width: rem(40);
    height: rem(40);
  }
}
