@import "./../../../assets/styles/main.scss";

.serviceCard {
  border: rem(1) solid getColorHex("grey-light");
  background: getColorHex("white");
  display: flex;
  align-items: center;
  padding: rem(16);
  gap: rem(24);
  width:100%;
  cursor: pointer;
  position: relative;

  &:hover {
    border: rem(1) solid getColorHex("grey-mid");
  }

  @include md {
    padding: rem(28);
    width: rem(518);
  }

  .serviceImage {
    display: flex;
    min-width: rem(120);
    width: rem(120);
    height: rem(160);
    object-fit: cover;

    @include md {
      min-width: rem(170);
      min-width: rem(170);
      height: rem(227);
    }
  }

  
  .serviceImg {
    min-width: rem(113);
    width: rem(113);
    height: rem(151);
    
  }


  .serviceInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(12);
    .serviceTitle {
      @include heading_regular;
      color: getColorHex("black-dark");
      font-size: rem(18);
      font-weight: 500;
      line-height: rem(26);
      letter-spacing: rem(0.4);

      @include md {
        font-size: rem(26);
        line-height: rem(36);
        letter-spacing: rem(0.6);
      }
    }

    .serviceDesc {
      color: getColorHex("green-metallic");
      font-size: rem(12);
      line-height: rem(20);
      letter-spacing: rem(0.2);

      @include md {
        font-size: rem(14);
        line-height: rem(22);
      }
    }
  }
}


.closeIcon {
  position: absolute;
  right: rem(29);
  top: rem(29);
  width: rem(12.73);
  height: rem(12.73);
}