@import "./../../../../assets//styles/main.scss";

.displayCard {
  width: rem(226);
  display: flex;
  flex-direction: column;
  gap: rem(24);
  cursor: pointer;

  @include breakpoint-max-width(rem(768)) {
    width: 100%;
    height: rem(336);
  }

  .imgContainer {
    position: relative;
    width: 100%;
    height: rem(301);

    @include breakpoint-max-width(rem(768)) {
      width: 100%;
      height: rem(224);
    }
  }
  .storyImg {
    border-top-left-radius: rem(16);
    border-bottom-right-radius: rem(16);
    object-fit: cover;
    // width: 100%;
    // height: 100%;
  }

  .displayCardInfo {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    .title {
      color: getColorHex("green-metallic");
      letter-spacing: rem(0.4);
      text-transform: uppercase;
      font-size: rem(14);
      @include body_regular;
    }

    .subTitle {
      @include heading_regular;
      color: getColorHex("green-dark");
      font-size: rem(16);
    }
  }
}
