@import "./../../../../../assets/styles/main.scss";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  gap: rem(40);
}

.leftSide,
.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: rem(62);
}

.signin {
  padding-top: rem(32);
  width: 100%;
}

.forgotBtn {
  text-transform: capitalize;
  margin-top: rem(8);
}
.submitBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(36);
}
.submitBtn {
  width: rem(252);
}

.formGroup {
  flex-direction: column;
  gap: rem(40);
  display: flex;
}

.formGroupPhone {
  display: flex;
  gap: rem(12);
}


.orDivider {
  font-size: rem(14);
  color: getColorHex("grey-mid");
  margin-bottom: rem(-20);

  border-radius: rem(16) 0px;
  background-color: getColorHex("grey-light");
  display: flex;
  padding: rem(12);
  justify-content: center;
  align-items: center;
  width: rem(46);
  height: rem(44);
}

.oneBtn {
  width: 100%;
  margin-top: rem(62);
}
