@import "./../../../assets/styles/main.scss";

.swiperSlideCover{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent no-repeat 50% 50% /cover;
}

.swiperScaleEffect{
  
  .swiperSlideCover {
    transition-timing-function: linear;
    transition-duration: 20s;
    transform: scale(1);
  }
}

.swiperScaleEffect{
  .swiperSlide{

    &:global(.swiper-slide-active){
      opacity: 1;

      .swiperSlideCover {
        transform: scale(1.3);
      }
    }
  }
}
