@import "./../../../assets/styles/main.scss";

.contactForm {
  max-width: rem(800);
  display: flex;
  flex-direction: column;
  gap: rem(44);
  margin: rem(60 28);
  
  @include md {
    margin: rem(80) auto;
  }
}

.heading {
  @include heading_regular;
  color: getColorHex("green-dark");
  text-align: center;
  margin: 0;
  font-size: rem(32);
  font-weight: 500;
  line-height: rem(44);
  letter-spacing: rem(0.6);
}

.doubleForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);

  @include md {
    grid-template-columns: 1fr 1fr;
  }
}


.singleForm {
  grid-template-columns: 1fr;
}


.optionSelector {
  display: flex;
  gap: rem(12);
  flex-direction: row;
  
  @include md {
    gap: rem(24);
  }

  div:last-child {
    width: 100%;
  }

}

.attachmentField {
  display: flex;
  flex-direction: column;
  gap: rem(12);
}

.attachment {
  height: rem(80);
  border: none;
  outline: none;
  border: rem(1) solid getColorHex("grey-brown");
  width: 100%;
  position: relative;

  .fileInfo {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
  }

  input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.btnContainer {
  width: 100%;
  text-align: center;

  .submitBtn {
    width: rem(252);
  }
}


// .doubleForm {
//   display: grid;
//   grid-template-columns: 1fr;
//   gap: rem(40);

//   @include md {
//     grid-template-columns: 1fr 1fr;
//   }
// }


.slidingSwitch {
  display: flex;
  align-items: center;
  gap: rem(14);
}
.slidingSwitchReverse {
  display: flex;
  align-items: center;
  gap: rem(14);
  flex-direction: row-reverse;
  justify-content: space-between;
}
.switchLabel {
  color: getColorHex("grey");
  font-size: rem(10);
  line-height: rem(14);
  letter-spacing: rem(0.2);
}