
@import "./../../../assets/styles/main.scss";


.container {
  padding: rem(60 0);

  display: flex;
  flex-direction: column;
  gap: rem(32);
  align-items: center;

  @include md {
    padding: rem(120 60);
    gap: rem(48);
  }

  [dir="rtl"] & {
    align-items: flex-start;
  }
}

.productItem {
    width: 348px;
}


.containerSlider {
  position: relative;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  padding: rem(0 0 0 28);
  width: 100%;

  @include lg {
    width: rem(1044);
    padding: rem(0);
  }

  &::-webkit-scrollbar {
    display: hidden;
  }

  .leftBtn,
  .rightBtn {
    width: rem(40);
    height: rem(40);
    border-radius: rem(12) 0 rem(12);
    background: getColorHex("green-dark");
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .arrowLeft {
      transform: rotate(180deg);
    }
  }

  .leftBtn {
    position: absolute;
    left: rem(-20);
    z-index: 2000;
  }
  .rightBtn {
    position: absolute;
    right: rem(-20);
    z-index: 2000;
  }
}
