@import "./../../../assets/styles/main.scss";

.accordion {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  height: 0;
  overflow: hidden;
}

.activeArrow {
  transition: all 0.3s;
  transform: rotate(180deg);
}

.accordionLink {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: rem(7 0);
  cursor: pointer;
  color: getColorHex("green-dark");
  border-bottom: rem(2) solid getColorHex("green-dark", 0);
  @include heading_regular;
  transition: all 0.3s;
}
