@import "./../../../assets/styles/main.scss";

.container {
  // z-index: 100;
  position: relative;
  overflow: hidden;
  img {
    position: relative;
    z-index: -1;
  }
}


.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  // border-radius: rem(16) 0 rem(16);

}