@import "./../../../../assets/styles/main.scss";

.container {
  //   display: flex;
  //   position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(24);
  width: 100%;
  height: 100vh;
  background: getColorHex("white");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: rem(60 28);

  @include breakpoint-min-width(rem(930)) {
    gap: rem(28);
    padding: rem(160 205);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image2 {
  flex: 1;
  object-fit: cover;
  height: 100% !important;
  width: 100%;
  min-width: rem(400);
  min-height: rem(535);
}

.closeIcon {
  z-index: 99999;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @include breakpoint-min-width(rem(930)) {
    width: auto;
    position: absolute;
    right: rem(80);
    top: rem(80);
  }
}

.textContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  @include breakpoint-min-width(rem(930)) {
    min-width: rem(800);
  }
}

.searchContainer {
  // position: absolute;
  // bottom: rem(154);
  // z-index: 9999;
  // left: 50%;
  // transform: translateX(-50%);

  display: flex;
  width: 100%;
  height: 76px;
  padding: 0px 28px;
  align-items: center;
  gap: 20px;

  border-radius: 16px 0px;
  border: 1px solid var(--GreyShades-Lighter-Grey, #e9e8e3);
  background: var(--Primary-White, #fff);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);

  @include breakpoint-min-width(rem(930)) {
    width: rem(800);
  }
}

.input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 20px;
  color: #333;
  padding: 0;
  @include heading_regular;
  margin-right: 8px;
}

.input::placeholder {
  color: var(--Primary-Midnight-Brown, #271610);

  /* Desktop/Headings/H5 */
  @include heading_regular;

  color: var(--Primary-Midnight-Brown, #271610);

  /* Mobile/Headings/H5 */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.4px;

  @include breakpoint-min-width(rem(930)) {
    font-size: 20px;
    line-height: 30px; /* 150% */
    letter-spacing: 0.6px;
  }
}

.iconButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  background: url("/path-to-your-icon.png") no-repeat center center;
  background-size: contain;
}

.seddiqiLogo {
  border-radius: 40px;
  background: var(--Tertiary-Desert-Storm, #eee7db);
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.legacyContainer {
  margin-top: 20px; /* Adjust spacing */
  width: 100%;

  @include breakpoint-min-width(rem(930)) {
    width: rem(780);
  }
}

.legacyList {
  list-style-type: none; /* Remove default bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  font-size: 16px; /* Adjust text size */
  color: #333; /* Dark text for readability */
  line-height: 1.6; /* Better spacing between items */
}

.legacyList li {
  @include heading_regular;
  padding: rem(20) 0; /* Add spacing between list items */
  border-bottom: 1px solid var(--GreyShades-Tint-Grey, #f6f5f5);

  color: var(--GreyShades-Grey, #403f3d);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.2px;
}

.legacyList li:last-child {
  //   border-bottom: none; /* Remove bottom border for the last item */
}
