@import "./../../../../assets/styles/main.scss";

.dateSelector {
  max-width: 800px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h2 {
  @include heading_regular;
  color: getColorHex("black");
  text-align: center;
  font-size: rem(26);
  font-weight: 500;
  line-height: rem(36);
  letter-spacing: rem(0.6);
  margin-bottom: rem(20);
}

.monthNav {
  display: flex;
  align-items: center;
  margin-bottom: rem(15);
  text-transform: uppercase;
}

.button {
  background: none;
  cursor: pointer;
  min-width: rem(28);
  height: rem(28);
  padding: 0;
}

.arrowLeft {
  transform: rotate(180deg);
}

.dateContainer {
  white-space: nowrap;
  overflow-x: hidden;
}

.dates {
  display: flex;
  justify-content: flex-start;
  gap: rem(10);
  width: max-content;
}

.dateItem,
.timeItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid getColorHex("grey-light");
  cursor: pointer;
  transition: 0.2s;
  width: rem(96);
  height: rem(104);
  padding: rem(12) rem(8);
  color: getColorHex("black");

  .day {
    @include heading_regular;
    text-align: center;
    font-size: rem(10);
    line-height: rem(14);
    letter-spacing: rem(0.2);
    text-transform: uppercase;
  }

  .date {
    @include heading_regular;
    text-align: center;
    font-size: rem(26);
    font-weight: 500;
    line-height: rem(32);
    letter-spacing: rem(0.6);
    text-transform: uppercase;
  }
}
.timeItem {
  @include heading_regular;
  width: rem(96);
  height: rem(50);
  padding: rem(12) rem(8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: getColorHex("black");
  font-size: rem(20);
  font-weight: 500;
  line-height: rem(28);
  letter-spacing: rem(0.6);
  text-transform: uppercase;
}

.dateItem:hover,
.timeItem:hover {
  border: 2px solid getColorHex("grey-light");
  background-color: getColorHex("grey-tint");
  color: getColorHex("grey-brown");
}

.selected,
.selectedTime {
  border: 0 solid getColorHex("noir");
  background: getColorHex("chocolate-brown");
  color: getColorHex("white");
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.timeContainer {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.times {
  display: flex;
  justify-content: flex-start;
  gap: rem(10);
  width: max-content; 
}

.preferenceContainer {
  background-color: getColorHex("white");
  margin-top: rem(60);
}

.heading {
  @include heading_regular;
  font-size: rem(26);
  font-weight: 500;
  line-height: rem(36);
  letter-spacing: rem(0.6);
  margin-bottom: rem(24);
  color: getColorHex("black");
}

.options {
  display: flex;
  gap: rem(15);
}

.customRadio {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  input {
    display: none;
  }

  .radioCircle {
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    border: rem(1) solid getColorHex("noir");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: rem(8);
    position: relative;
    background-color: getColorHex("white");
    transition: background-color 0.2s, border 0.2s;

    &::after {
      content: "";
      width: rem(6); 
      height: rem(6);
      border-radius: 50%;
      background: getColorHex("midnight-brown"); 
      position: absolute;
      transform: scale(0);
      transition: transform 0.2s;
    }
  }

  input:checked + .radioCircle::after {
    transform: scale(1);
  }
}

.selected {
  border-color: getColorHex("black");
}

.notSelected {
  border-color: getColorHex("grey-mid");
}

.selectedText {
  color: getColorHex("black");
  text-align: center;
  font-size: rem(14);
  line-height: rem(22);
  letter-spacing: rem(0.2);
}

.notSelectedText {
  color: getColorHex("grey-mid"); 
  text-align: center;
  font-size: rem(14);
  line-height: rem(22);
  letter-spacing: rem(0.2);
}

.tabNavigation {
  width: 100%;
  margin-top: rem(60);
}
