@import "./../../../../assets/styles/main.scss";

.storyCardContainer {
  display: flex;
  gap: rem(20);
  height: rem(109);
  cursor: pointer;

  @include breakpoint-max-width(rem(768)) {
    width: 100%;
    height: 100%;
  }

  @include breakpoint-max-width(rem(360)) {
    flex-direction: column;
  }

  .imgContainer {
    position: relative;
    width: rem(160);
    height: rem(109);

    @include breakpoint-max-width(rem(360)) {
      width: 100%;
      height: 100%;
    }
  }

  .image {
    border-radius: rem(16 0 16 0);
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: rem(12);
    width: rem(220);

    @include breakpoint-max-width(rem(768)) {
      width: rem(188);
    }

    @include breakpoint-max-width(rem(360)) {
      width: 100%;
    }

    .title {
      @include heading_regular;
      font-size: rem(16);
      line-height: rem(20);
      letter-spacing: rem(0.4);

      @include breakpoint-max-width(rem(768)) {
        font-size: rem(14);
      }
    }

    .subtitle {
      @include body_light;
      color: getColorHex("green-dark");
      font-size: rem(14);
      line-height: rem(22);

      @include breakpoint-max-width(rem(768)) {
        font-size: rem(12);
      }
    }
  }
}
