@import "./../../../../assets//styles/main.scss";

.storyCardContainer {
  display: flex;
  gap: rem(20);
  width: rem(368);
  height: rem(109);
  cursor: pointer;

  .image {
    border-top-left-radius: rem(6);
    border-bottom-right-radius: rem(6);
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: rem(12);
    width: rem(188);

    .title {
      @include heading_regular;
      font-size: rem(16);
      line-height: rem(20);
    }

    .subtitle {
      @include body_light;
      color: getColorHex("green-dark");
      font-size: rem(14);
      line-height: rem(22);
    }
  }
}
