@import "./../../../../assets/styles/main.scss";

.introContainer {
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  height: calc(100vh - 152px);
  // background-color: rebeccapurple;
  justify-content: center;
  position: relative;
  // overflow: hidden;
  min-height: rem(950);
  will-change: transform;
}




.titleSection {
  margin-bottom: 2rem;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;


  h1 {
    color: var(--Primary-Midnight-Brown, #271610);
    text-align: center;

    @include heading_light;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px; /* 112.5% */
    letter-spacing: 0.4px;
    text-transform: uppercase;
    max-width: 580px;
  }

  p {
    color: var(--GreyShades-Grey, #403f3d);
    text-align: center;

    @include body_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.2px;
  }
}

.imageGrid {
  width: 100%;
  height: 100%;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // gap: 1rem;
  // max-width: 900px;
  // position: relative;
  // overflow: hidden;

  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
}

.searchContainer {
  // display: flex;
  // align-items: center;
  // border: 1px solid #d1d1d1;
  // border-radius: 8px;
  // padding: 8px 12px;
  // background-color: #fff;
  // width: 100%;
  // max-width: 500px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: rem(154);
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  width: 780px;
  height: 76px;
  padding: 0px 28px;
  align-items: center;
  gap: 20px;

  border-radius: 16px 0px;
  border: 1px solid var(--GreyShades-Lighter-Grey, #e9e8e3);
  background: var(--Primary-White, #fff);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  color: #333;
  padding: 0;
  margin-right: 8px;
}

.input::placeholder {
  color: #aaa;
}

.iconButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  background: url("/path-to-your-icon.png") no-repeat center center;
  background-size: contain;
}

.seddiqiLogo {
  border-radius: 40px;
  background: var(--Tertiary-Desert-Storm, #eee7db);
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 16px 0px;

}

.image1,
.image3,
.image4,
.image6 {
  width: 340px !important;
  height: 454px !important;
  align-items: flex-start;
  border-radius: 16px 0px;
  object-fit: cover;
}

.image2,
.image5 {
  width: 390px;
  height: 260px;
  justify-content: center;
  align-items: center;

  border-radius: 16px 0px;
}


.image1 {
  position: absolute !important;
  top: -20px;
  left: 59px;
}
.image2 {
  position: absolute !important;
  top: -21px;
  width: 390px;
  height: 260px;
}
.image3 {
  position: absolute !important;
  top: -30px !important;
  right: -30px !important; 
}
.image4 {
  position: absolute !important;
  left: -66px !important;
  bottom: -38px !important; 
}
.image5 {
  position: absolute !important;
  bottom: -17px !important; 
  width: 490px;
  height: 327px;
}
.image6 {
  position: absolute !important;
  bottom: -210px !important;
  right: -6px !important; 
}