@import "./../../../../../assets/styles/main.scss";

.container {
  width: 100%;
}


.formGroup {
  display: flex;
  flex-direction: column;
  gap: rem(44);
}
.doubleForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(40);
}

.optionSelector {
  display: flex;
  gap: rem(12);
}


.slidingSwitch {
  display: flex;
  align-items: center;
  gap: rem(14);
}
.switchLabel {
  color: getColorHex("grey");
  font-size: rem(10);
  line-height: rem(14);
  letter-spacing:rem(0.2);
}

.submitBtnContainer {
  width: 100%;
  margin: rem(40 0);
  display: flex;
  justify-content: center;
}
.submitBtn {
  width: rem(264);
}

.passwordCriteria {
  margin-top: rem(10);
  display: grid;
  grid-template-columns: 1fr 1fr;

  div {
    font-size: rem(14);
    margin: 5px 0;
    display: flex;
    align-items: center;
  }

  .valid {
    color: getColorHex("green-dark");
    display: flex;
    align-items: center;
    gap: rem(8);
    font-size: rem(10);
    line-height: rem(14);
    letter-spacing: rem(0.2);
  }

  .invalid {
    color: getColorHex("dark-red");
  }
}
