@import './../../../../../assets/styles/main.scss';

.form {
  max-width: rem(500);
  margin: 0 auto;
  padding: rem(20);
  background-color: getColorHex("white");
  border-radius: rem(8);
  box-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.1);
}

.inputGroup {
  position: relative;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
      outline: none;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      top: -10px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      padding: 0 5px;
      left: 10px;
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  .inputError {
    border-color: red;

    &:focus {
      border-color: red;
    }
  }
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submitButton {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

/* Additional styles for required inputs */
.requiredInput:focus {
  border-color: #28a745;
}

.optionalLabel:after {
  content: " *";
  color: red;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: rem(44);
  
}
.container {
  width: 100%;

}
.doubleForm {
  display: flex;
  gap: rem(20);
}
