@import "./../../../../assets/styles/main.scss";

.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: getColorHex("white");
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(33);
  padding: rem(20);

  @include md {
    padding: rem(60);
  }

  .mySwiper {
    height: 70vh;
  }

  .swiperSlide {
    height: 70vh;
    width: 100vw;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      // height: 70vh;
      object-fit: contain;
    }
  }

  .thumbnails {
    display: flex;
    align-items: center;
    gap: rem(12);
    flex-wrap: wrap;

    .thumbnail {
      width: rem(78);
      height: rem(78);
      cursor: pointer;
      overflow: hidden;
      border: rem(1) solid getColorHex("grey-mid", 0);
      position: relative;

      @include md {
        width: rem(90);
        height: rem(90);
      }

      .image {
        width: rem(78);
        height: rem(78);
        object-fit: cover;

        @include md {
          width: rem(90);
          height: rem(90);
        }
      }
    }

    .activeImage {
      border: rem(1) solid getColorHex("grey-mid", 1);
      opacity: 0.4;
    }
  }
}

.closeIcon {
  position: absolute;
  right: rem(28);
  top: rem(40);
  cursor: pointer;
  z-index: 1000;

  @include md {
    right: rem(40);
    top: rem(80);
  }
}

.leftBtn,
.rightBtn {
  width: rem(40);
  height: rem(40);
  border-radius: rem(12) 0 rem(12);
  border-radius: 40px;
  background: rgba(197, 181, 163, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 2000;
  top: 50%;
  transform: translateY(-50%);

  .arrowLeft {
    transform: rotate(180deg);
  }
}
.leftBtn {
  left: rem(50);
}
.rightBtn {
  right: rem(50);
}


.slideBtns {

  display: flex;
  gap: rem(4);
  


  .slideItem {
    width: rem(28);
    height: rem(2);
    background: var(--GreyShades-Light-Grey, #CCCBC7);
    cursor: pointer;
  }

  .slideActive {
    background: var(--Primary-Metallic, #A98E76);
  }
}