@import "./../../../assets/styles/main.scss";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(348), 1fr));
  
  @include lg {
    grid-template-columns: repeat(4, minmax(rem(348), 1fr));
  }
 
}
