@import "./../../../assets/styles/main.scss";

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(rem(180), 1fr));

  @include md {
    grid-template-columns: repeat(auto-fit, minmax(rem(348), 1fr));
  }
  
  @include xxl {
    grid-template-columns: repeat(4, minmax(rem(348), 1fr));
  }
 
}
