@import "./../../../../assets/styles/main.scss";

.banner,
.bannerCpo {
  display: flex;
  align-items: center;
  padding: 0 rem(28);
  gap: rem(28);

  .leftText {
    .title {
      margin: 0;
      color: getColorHex("black");
      font-weight: 400;
    }
  }
}

.banner {
  background-color: getColorHex("grey-pampas");
  align-items: flex-start;
  flex-direction: column;

  @include lg {
    padding: 0 rem(120);
    flex-direction: row;
  }

  div {
    flex: 1;
  }

  .leftText {
    .title {
      font-size: rem(28);
      line-height: rem(34);
      letter-spacing: rem(0.4);
      text-transform: uppercase;

      @include lg {
        color: getColorHex("green-dark");
        line-height: rem(46);
        font-size: rem(40);
      }
    }
  }

  .rightText {
    p {
      color: getColorHex("black");
      font-size: rem(14);
      font-weight: 700;
      line-height: rem(22);
      letter-spacing: rem(0.4);

      @include lg {
        color: getColorHex("green-dark");
        line-height: rem(26);
        font-size: rem(16);
      }
    }
  }
}

.bannerCpo {
  background-color: getColorHex("white");
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;

  @include lg {
    padding: 0 rem(120);
  }

  .label {
    width: 100%;
    color: getColorHex("green-metallic");
    text-align: center;
    font-size: rem(16);
    line-height: rem(26);
    letter-spacing: rem(0.4);
    text-transform: uppercase;
  }
  .leftText {
    width: 100%;
    margin-bottom: rem(8);
    .title {
      font-size: rem(28);
      line-height: rem(34);
      letter-spacing: rem(0.4);
      text-transform: uppercase;

      @include lg {
        color: getColorHex("green-dark");
        line-height: rem(46);
        font-size: rem(40);
      }
    }
  }

  .rightText {
    width: 100%;
    p {
      color: getColorHex("green-dark");
      font-size: rem(14);
      font-weight: 700;
      line-height: rem(22);
      letter-spacing: rem(0.4);
      text-align: center;
      font-weight: 400;

      @include lg {
        color: getColorHex("green-dark");
        line-height: rem(26);
        font-size: rem(16);
      }
    }
  }
}
