@import "../../../assets/styles/main.scss";

.selection {
  display: flex;
  flex-direction: column;
  // gap: rem(10);
  @include md-max {
    margin-top: rem(48);
  }
}

.label {
  @include heading_light;
  font-size: rem(14);
  color: getColorHex("green-dark");
  // margin-bottom: rem(5);
  @include md {
    font-size: rem(16);
  }
}

.dropdown {
  display: flex;
  align-items: center;
  padding: rem(10 0 10 0);
  cursor: pointer;
  border: none;
  @include md {
    padding: rem(13 0 13 0);
  }
}

.customSelect {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;

  select {
    appearance: none;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include body_light;
    color: getColorHex("green-metallic");
    font-size: rem(12);

    [dir="rtl"] & {
      position: relative;
      right: rem(20);
    }
    @include md {
      font-size: rem(14);
    }
  }

  .arrow {
    position: absolute;
    right: rem(0);
    pointer-events: none;
  }
  @include lg-max {
    svg {
      width: rem(10);
      opacity: 0.4;
    }
  }
}

.countryDropdown {
  border-bottom: rem(1) solid getColorHex("noir");
  width: 100%;
  margin-top: rem(8);
  margin-bottom: rem(48);

  @include sm {
    width: rem(350);
  }
}

.languageDropdown {
  border: none;
  width: rem(58);
  @include body_light;
  color: getColorHex("green-metallic");
  margin-top: rem(32);
  margin-bottom: rem(48);
  padding: 0;
  @include sm {
    width: rem(60);
  }
}
