@import "./../../../assets/styles/main.scss";

.bottom {
  display: flex;
  flex-direction: column;
  margin-top: rem(40);
  gap: rem(44);
}

.appointmentBtn {
  padding: rem(4 0);
  border-bottom: rem(1) solid getColorHex("green-dark");
  color: getColorHex("green-dark");
  // max-width: rem(250);
  width: max-content;
  cursor: pointer;
  @include body_regular;
}

.recommendContainer {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  .recommendText {
    text-transform: uppercase;
    @include heading_medium;
  }

  .logos {
    display: flex;
    align-items: center;
    gap: rem(20);
  }
}
