@import "./../../../assets/styles/main.scss";

.bottom {
  display: flex;
  flex-direction: column;
  margin-top: rem(40);
  gap: rem(44);
  
  span.appointmentBtn {
    text-underline-offset: rem(10);
    text-align: left;
  }
}


.recommendContainer {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  .recommendText {
    text-transform: uppercase;
    @include heading_medium;
  }

  .logos {
    display: flex;
    align-items: center;
    gap: rem(20);
  }
}

.headerFooter {
  padding: rem(42 0);
}
