@import "./../../../assets/styles/main.scss";
.contentAndImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: rem(20) rem(20);

  @include md {
    margin-left: rem(120);
    margin-right: rem(120);
  }
}

.contentWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  max-width: rem(1200);

  @include md-max {
    flex-direction: column;
  }

  @include md {
    gap: rem(120);
  }
}

.title {
  color: getColorHex("brown-dark");
  text-align: left;
  text-transform: uppercase;
  margin-block-end: rem(0);
  margin-block-start: rem(0);
}

.description {
  letter-spacing: rem(0.2);
  color: getColorHex("grey");
  margin-top: rem(12);
  margin-bottom: rem(32);

  @include md {
    margin-top: rem(20);
    margin-bottom: rem(0);
  }
}

.leftContent {
  flex: 0 0 rem(520);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include md {
    width: 100%;
  }
}

.rightContent {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.rightContent img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: rem(16) rem(0);
}

.reversed.contentAndImageTwoColumn {
  @include md {
    margin: 0 auto;
    width: 100%;
  }
  .contentWrapper {
    flex-direction: row-reverse;
  }
}

.reversed .leftContent {
  order: 2;
  @include md {
    justify-content: flex-start;
    padding-left: rem(0);
  }
}

.reversed .rightContent {
  order: 1;
  padding-bottom: rem(32);
  @include md {
    padding-right: rem(0);

    justify-content: flex-end;
  }
}

.richTextStyle {
  div {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
}