@import "configs/baseConfig";
@import "partials/base";
@import 'globals';


.error-page {
    height: 100vh;
    padding: rem(80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: getColorHex("plumeria-tint");
    color: getColorHex("green-palm");

    h1 {
        font-size: rem(65);
        @include heading_regular;
        margin: 0 0 rem(16);
    }

    p {
        @include body_regular;
        font-size: rem(14);
        line-height: rem(18);
        text-align: center;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.image_overlay {
    height: 100%;
    width: 100%;
    background-color: getColorHex("black");
    position: relative;
}


.bg-green {
    background-color: getColorHex("green");
    color: getColorHex("sand");
}

.bg-white {
    background-color: getColorHex("white");
    color: getColorHex("black");
}

.bg-sand {
    background-color: getColorHex("sand");
    color: getColorHex("green");
}

.bg-black {
    background-color: getColorHex("black");
    color: getColorHex("sand");
}