@import "configs/baseConfig";
@import "partials/base";
@import "rolex/rolexMain";

.error-page {
  height: auto;
  padding: 0 rem(80) rem(40);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: getColorHex("grey-tint");
  color: getColorHex("midnight-brown");

  @include md {
    padding: 0 rem(80) rem(60);
  }

  .error-image {
    display: flex;
    object-fit: cover;
    aspect-ratio: 4/3;
    margin-bottom: rem(40);
  }

  h1 {
    font-size: rem(18);
    line-height: rem(26);
    letter-spacing: rem(0.4);
    @include heading_regular;
    margin: 0 0 rem(12);
    color: getColorHex("brown-dark");
    text-transform: uppercase;
    font-weight: 500;

    @include md {
      font-size: rem(32);
      line-height: rem(36);
      letter-spacing: rem(0.6);
      margin: 0 0 rem(28);
    }
  }

  p {
    @include body_regular;
    font-size: rem(14);
    line-height: rem(22);
    letter-spacing: rem(0.2);
    text-align: center;
    margin-bottom: rem(24);

    @include md {
      font-size: rem(16);
      line-height: rem(26);
      margin-bottom: rem(28);
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.image_overlay {
  height: 100%;
  width: 100%;
  background-color: getColorHex("black");
  position: relative;
}

.bg-green {
  background-color: getColorHex("green");
  color: getColorHex("sand");
}

.bg-white {
  background-color: getColorHex("white");
  color: getColorHex("black");
}

.bg-sand {
  background-color: getColorHex("sand");
  color: getColorHex("green");
}

.bg-black {
  background-color: getColorHex("black");
  color: getColorHex("sand");
}

/*Customized Background -Text Color Combinations */
.bgWhiteTextDarkGreen {
  background-color: getColorHex("white");
  color: getColorHex("green-dark"); /* Dark-Green text */
}

.bgCreamTextMidnightBrown {
  background-color: getColorHex("cream");
  color: getColorHex("midnight-brown"); /* Midnight-brown text */
}

.bgDefaultTextGreen {
  background-color: getColorHex("white");
  color: getColorHex("green-dark"); /* dark-green text */
}

//Customized Hideunderline Color based on Textcolor
.customBarColor {
  &.greenDark {
    background-color: getColorHex("green-dark") !important;
  }

  &.midnightBrown {
    background-color: getColorHex("midnight-brown") !important;
  }
}

.rolex {
  padding-top: rem(69);
  @include breakpoint-min-width(rem(768)) {
    padding-top: rem(37);
  }
  @include breakpoint-min-width(rem(1037)) {
    padding-top: rem(69);
  }
  @include breakpoint-min-width(rem(1250)) {
    padding-top: rem(81);
  }
}

.rolexCpo {
  padding-top: rem(69);
  @include breakpoint-min-width(rem(768)) {
    padding-top: rem(37);
  }
  @include breakpoint-min-width(rem(1037)) {
    padding-top: rem(69);
  }
  @include breakpoint-min-width(rem(1250)) {
    padding-top: rem(79);
  }
}
