@import "./../../../../assets/styles/rolex/rolexMain.scss";

.container{
  display: flex;
  flex-direction: column;
  gap: rem(48);
  padding: 0 rem(28);
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: getColorHex("white");

  @include md {
    padding: 0 rem(60);
  } 

  .imageTextsWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: rem(32);

    @include md {
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: rem(44);
    }

    &:nth-child(even){
      flex-direction: column;
      
      @include md {
        flex-direction: row-reverse;
      }
    }

    & > div{
      width: 100%;
  
      @include md {
        width: calc(50% - 22px);
        min-width: calc(50% - 22px);
      }
    }
  }

  .image{
    display: flex;
    outline: none;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .textsContainer{
    display: flex;
    flex-direction: column;
    row-gap: rem(12);

    @include md {
      row-gap: rem(16);
    }
  }

  .subtitle{
    @include rolex_bold;
    font-size: rem(12);
    letter-spacing: rem(0.4);
    line-height: rem(18);
    color: getColorHex("green-dark");
    display: block;
    margin: 0;
    text-align: center;

    @include md {
      font-size: rem(16);
      line-height: rem(20);
      text-align: left;

      [dir="rtl"] & {
        text-align: right;
      }
    }

    &:empty{
      display: none;
    }
  }

  a{
    margin: 0 auto;

    @include md {
      margin: 0;
    }
  }

  .title{
    @include rolex_regular;
    font-size: rem(18);
    line-height: rem(26);
    letter-spacing: rem(0.4);
    color: getColorHex("green-dark");
    display: block;
    margin: 0;
    text-align: center;
    text-transform: uppercase;

    @include md {
      font-size: rem(26);
      line-height: rem(32);
      letter-spacing: rem(0.6);
      text-align: left;

      [dir="rtl"] & {
        text-align: right;
      }
    }

    &:empty{
      display: none;
    }
  }

  .description{
    @include rolex_regular;
    font-size: rem(14);
    line-height: rem(22);
    letter-spacing: rem(0.4);
    color: getColorHex("green-dark");
    display: block;
    margin: 0;
    text-align: center;

    @include md {
      font-size: rem(16);
      line-height: rem(26);
      letter-spacing: rem(0.6);
      text-align: left;

      [dir="rtl"] & {
        text-align: right;
      }
    }

    &:empty{
      display: none;
    }
  }

  .link{
    align-self: flex-start;
    margin: 0;
    width: auto;

    [dir="rtl"] & {
      align-self: flex-end;
    }

    &::after{
      content: "";
      display: flex;
      width: 100%;
      height: rem(1);
      background: getColorHex("rolex-green");
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    @include md {
      &:hover{
        &::after{
          transform: scaleX(1);
        }
      }
    }

    &:empty{
      display: none;
    }
  }
}

